### if문

In [ ]:
# 두 개의 정수를 입력받아 큰 수에서 작은 수를 뺀 차를 출력하는 프로그램을 작성하시오.

# 입력)
# 50
# 85

# 출력)
# 35

In [ ]:
# 정수를 입력받아 0 이면 "zero" 양수이면 "plus" 음수이면 "minus" 라고 출력하는 프로그램을 작성하시오.

# 입력)
# 0

# 출력)
# zero

In [ ]:
# 년도를 입력받아 윤년(leap year)인지 평년(common year)인지 판단하는 프로그램을 작성하시오.
# [HINT]
# 400으로 나누어떨어지면 윤년이다.
# 또는 4로 나누어떨어지고 100으로 나누어떨어지지 않으면 윤년이다.
# 나머지는 모두 평년이다.

# 입력)
# 2008

# 출력)
# leap year

In [ ]:
# 1번은 개, 2번은 고양이, 3번은 병아리로 정하고 번호를 입력하면 번호에 해당하는 동물을 영어로 출력하는 프로그램을 작성하시오.
# 해당 번호가 없으면 "I don't know."라고 출력한다.

# 개-dog
# 고양이-cat
# 병아리-chick

# 입력)
# Number? 2

# 출력)
# cat

In [ ]:
# 1~12사이의 정수를 입력받아 평년의 경우 입력받은 월의 날수를 출력하는 프로그램을 작성하시오.
# [HINT]
# 평년의 경우 1월부터 12월까지 일수는 각각 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31일이다.

# 입력)
# 2

# 출력)
# 28

In [ ]:
# 알람시계

# 당근이는 매일 아침 알람을 듣고 일어난다.
# 알람을 듣고 바로 일어나면 다행이겠지만,
# 항상 조금만 더 자려는 마음 때문에 매일 학교를 지각하고 있다.
# 이런 당근이를 불쌍하게 보던, 창영이는 자신이 사용하는 방법을 추천해 주었다.

# 바로 "45분 일찍 알람 설정하기"이다.

# 이 방법은 단순하다.
# 원래 설정되어 있는 알람을 45분 앞서는 시간으로 바꾸는 것이다.
# 어차피 알람 소리를 들으면, 알람을 끄고 조금 더 잘 것이기 때문이다.
# 이 방법을 사용하면, 매일 아침 더 잤다는 기분을 느낄 수 있고, 학교도 지각하지 않게 된다.

# 현재 당근이가 설정한 알람 시각이 주어졌을 때,
# 창영이의 방법을 사용한다면, 언제로 고쳐야 하는지 구하는 프로그램을 작성하시오

# 입력 > 10 50                           출력> 10 5
# 입력 > 10 10                           출력> 9 25
# 입력 > 0 30                            출력> 23 45

### for문

In [ ]:
# 문자를 입력받아서 입력받은 문자를 20번 반복하여 출력하는 프로그램을 작성하시오.

# 입력)
# A

# 출력)
# AAAAAAAAAAAAAAAAAAAA

In [ ]:
# 100 이하의 정수를 입력받아서 입력받은 정수부터 100까지의 합을 출력하는 프로그램을 작성하시오.

# 입력)
# 95

# 출력)
# 585

In [ ]:
# 정수를 입력받아서 1부터 입력받은 정수까지의 5의 배수의 합을 구하여 출력하는 프로그램을 작성하시오.

# 입력)
# 20

# 출력)
# 50

In [ ]:
# 조건문과 반복문을 이용해 1 ~ 30까지 짝수만 출력하시오

# [출력]
# 2 4 6 8 ... 30

In [ ]:
# 두 개의 정수를 입력받아 두 정수 사이(두 정수를 포함)에 3의 배수이거나 5의 배수인 수들의
# 합과 평균(몫만 출력)을 출력하는 프로그램을 작성하시오.

# 입력)
# 10 15

# 출력)
# sum : 37
# avg : 12

In [ ]:
# for 반복문을 사용해서 1~ 50까지의 수를 다 더한 값을 출력

In [ ]:
# 사용자로 부터 정수 값을 입력받아서, 1 ~ n까지의 수를 다 더한 값을 출력

In [ ]:
# 사용자로부터 입력받은 정수 n에 해당하는 구구단을 출력

# 입력)
# 7

# 출력)
# 7 단 구구단
# 7 * 1 = 7
# 7 * 2 = 14
# 7 * 3 = 21
# 7 * 4 = 28
# 7 * 5 = 35
# 7 * 6 = 42
# 7 * 7 = 49
# 7 * 8 = 56
# 7 * 9 = 63

In [ ]:
# [문제]
# 영어 대소문자와 공백으로 이루어진 문자열이 주어진다. 이 문자열에는 몇 개의 단어가 있을까? 이를 구하는 프로그램을 작성하시오.
# 단, 한 단어가 여러 번 등장하면 등장한 횟수만큼 모두 세어야 한다.

# [입력]
# 첫 줄에 영어 대소문자와 공백으로 이루어진 문자열이 주어진다. 단어는 공백 한 개로 구분되며, 공백이 연속해서 나오는 경우는 없다.

# [출력]
# 첫째 줄에 단어의 개수를 출력한다.

# [예제 입력 1]
# The Curious Case of Benjamin Button
# [예제 출력 1]
# 6

# [예제 입력 2]
# The first character is a blank
# [예제 출력 2]
# 6

# 정답코드)
sen = input()
cnt = 0
for i in range(len(sen)):
    if sen[i] == " ":
        cnt += 1

print(cnt+1)

The Curious Case of Benjamin Button
6

In [ ]:
# 5명의 성적을 입력받아서 총점과 평균을 출력하는 프로그램을 작성하시오.
# 평균은 정수까지만 출력한다.
# 입력)
# 90
# 85
# 100
# 66
# 88

# 출력)
# 총점 : 429
# 평균 : 85

In [ ]:
# 10 이하의 과목수 n이 주어진다.
# 정수로 주어진 n개 과목의 점수를 입력받아서 실수 평균을 구하여 출력하고
# 평균이 80점이상이면 "pass", 80점 미만이면 "fail"이라고 출력하는 프로그램을 작성하시오.

# 입력)
# 4
# 75
# 80
# 85
# 90

# 출력)
# avg : 82.5
# pass

In [ ]:
# [문제]

# 영수증에 적힌,
# 구매한 각 물건의 가격과 개수
# 구매한 물건들의 총 금액을 보고, 구매한 물건의 가격과 개수로 계산한
# 총 금액이 영수증에 적힌 총 금액과 일치하는지 검사해보자.

# [입력]
# 첫째 줄에는 영수증에 적힌 총 금액 x가 주어진다.
# 둘째 줄에는 영수증에 적힌 구매한 물건의 종류의 수 n이 주어진다.
# 이후 n개의 줄에는 각 물건의 가격 a와 개수 b가 공백을 사이에 두고 주어진다.

# [출력]
# 구매한 물건의 가격과 개수로 계산한 총 금액이 영수증에 적힌 총 금액과 일치하면 Yes를 출력한다. 일치하지 않는다면 No를 출력한다.


# [예제 입력 1]
# 260000
# 4
# 20000 5
# 30000 2
# 10000 6
# 5000 8

# [예제 출력 1]
# Yes


# [예제 입력 2]
# 250000
# 4
# 20000 5
# 30000 2
# 10000 6
# 5000 8

# [예제 출력 2]
# No

# 정답코드)
x = int(input())
n = int(input())

total = 0
for i in range(n):
    a, b = map(int, input().split())
    total += a * b

if total == x:
    print("Yes")
else:
    print("No")

In [ ]:
# 정수를 입력받아 다음과 같이 순서쌍을 출력하는 프로그램을 작성하시오.

# 입력)
# 4

# 출력)
# ( 1 ,  1 ) ( 1 ,  2 ) ( 1 ,  3 ) ( 1 ,  4 )
# ( 2 ,  1 ) ( 2 ,  2 ) ( 2 ,  3 ) ( 2 ,  4 )
# ( 3 ,  1 ) ( 3 ,  2 ) ( 3 ,  3 ) ( 3 ,  4 )
# ( 4 ,  1 ) ( 4 ,  2 ) ( 4 ,  3 ) ( 4 ,  4 )


# 정답코드)
n = int(input())

for i in range(1, n+1):
    for j in range(1, n+1):
        print("(", i, ", ", j, ")", end=" ")
    print()

4
( 1 ,  1 ) ( 1 ,  2 ) ( 1 ,  3 ) ( 1 ,  4 )
( 2 ,  1 ) ( 2 ,  2 ) ( 2 ,  3 ) ( 2 ,  4 )
( 3 ,  1 ) ( 3 ,  2 ) ( 3 ,  3 ) ( 3 ,  4 )
( 4 ,  1 ) ( 4 ,  2 ) ( 4 ,  3 ) ( 4 ,  4 )

In [ ]:
# 성적의 최대 성적과 최소 성적 출력하는 프로그램

# 출력)
# 최고 점수: 100
# 최저 점수: 60

score = [80, 60, 70, 100]

maximum = -1
minimum = 999

100

In [ ]:
# *
# **
# ***
# ****
# *****

*
**
***
****
*****

In [ ]:
# *****
# ****
# ***
# **
# *

In [ ]:
# SSSS*
# SSS**
# SS***
# S****
# *****

In [ ]:
# 5줄의 피라미드를 출력하는 프로그램을 작성하시오
#     *
#    ***
#   *****
#  *******
# *********

# 정답 코드)
for i in range(5):
    for s in range(4-i):
        print(" ", end="")
    for j in range(2*i+1):
        print("*", end="")
    print()

    *
   ***
  *****
 *******
*********

In [ ]:
# n을 입력받고, n줄의 피라미드를 출력하는 프로그램을 작성하시오

In [ ]:
# [문제]
# 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

# [입력]
# 첫째 줄에 테스트 케이스의 개수 T가 주어진다.
# 각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)

# [출력]
# 각 테스트 케이스마다 A+B를 출력한다.


# [예제 입력 1]
# 5
# 1 1
# 2 3
# 3 4
# 9 8
# 5 2

# [예제 출력 1]
# Case #1: 2
# Case #2: 5
# Case #3: 7
# Case #4: 17
# Case #5: 7

# [예제 출력 1]
# 2
# 5
# 7
# 17
# 7

In [ ]:
# [문제]
# 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

# [입력]
# 첫째 줄에 테스트 케이스의 개수 T가 주어진다.
# 각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)

# [출력]
# 각 테스트 케이스마다 "Case #x: A + B = C" 형식으로 출력한다.
# x는 테스트 케이스 번호이고 1부터 시작하며, C는 A+B이다.


# [예제 입력 1]
# 5
# 1 1
# 2 3
# 3 4
# 9 8
# 5 2

# [예제 출력 1]
# Case #1: 1 + 1 = 2
# Case #2: 2 + 3 = 5
# Case #3: 3 + 4 = 7
# Case #4: 9 + 8 = 17
# Case #5: 5 + 2 = 7

In [ ]:
# 제품 담당자와 인터뷰를 해보니 2019년도 이전 모델은 모델명 앞에 GA가 붙으면 가스건조기,
# EL이 붙으면 전기건조기라 한다.
# 그리고 2019년도 모델부터는 모델 끝2자리의 합이 짝수이면 가스건조기
# 홀수이면 전기건조기라고 한다.

# 다음 모델리스트에서 가스건조기면 "GAS_"를 전기건조기면 "ELEC_"를 붙여보자!

modelList = ["2018_GAMODEL001",
 "2016_GAMODEL002",
 "2015_ELMODEL001",
 "2020_MODEL041",
 "2020_MODEL022",
 "2020_MODEL027",
 "2020_MODEL055",
 "2020_MODEL023"]


# # 출력예시
# 2018_GAS_MODEL001
# 2016_GAS_MODEL002
# 2015_ELEC_MODEL001
# 2020_ELEC_MODEL041
# 2020_GAS_MODEL022
# 2020_ELEC_MODEL027
# 2020_GAS_MODEL055
# 2020_ELEC_MODEL023

In [ ]:
# [문제]
# 오늘은 2007년 1월 1일 월요일이다. 그렇다면 2007년 x월 y일은 무슨 요일일까? 이를 알아내는 프로그램을 작성하시오.

# [입력]
# 첫째 줄에 빈 칸을 사이에 두고 x(1 <= x <= 12)와 y(1 <= y <= 31)이 주어진다.
# 참고로 2007년에는 1, 3, 5, 7, 8, 10, 12월은 31일까지, 4, 6, 9, 11월은 30일까지, 2월은 28일까지 있다.

# [출력]
# 첫째 줄에 x월 y일이 무슨 요일인지에 따라 SUN, MON, TUE, WED, THU, FRI, SAT중 하나를 출력한다.



# [예제 입력 1]
# 1 1
# [예제 출력 1]
# MON

# [예제 입력 2]
# 3 14
# [예제 출력 2]
# WED

# [예제 입력 3]
# 9 2
# [예제 출력 3]
# SUN

# [예제 입력 4]
# 12 25
# [예제 출력 4]
# TUE

In [ ]:
# # 아래 그림처럼 높이만 다르고 (같은 높이의 막대기가 있을 수 있음) 모양이 같은 막대기를 일렬로 세운 후,
# # 왼쪽부터 차례로 번호를 붙인다.
# # 각 막대기의 높이는 그림에서 보인 것처럼 순서대로 6, 9, 7, 6, 4, 6 이다.
# # 일렬로 세워진 막대기를 오른쪽에서 보면 보이는 막대기가 있고 보이지 않는 막대기가 있다.
# # 즉, 지금 보이는 막대기보다 뒤에 있고 높이가 높은 것이 보이게 된다.
# # 예를 들어, 그림과 같은 경우엔 3개(6번, 3번, 2번)의 막대기가 보인다.

# N개의 막대기에 대한 높이 정보가 주어질 때, 오른쪽에서 보아서 몇 개가 보이는지를 알아내는 프로그램을 작성하려고 한다.

# 입력
# 첫 번째 줄에는 막대기의 개수를 나타내는 정수 N (2 ≤ N ≤ 100,000)이 주어지고 이어지는 N줄 각각에는
# 막대기의 높이를 나타내는 정수 h(1 ≤ h ≤ 100,000)가 주어진다.

# 출력
# 오른쪽에서 N개의 막대기를 보았을 때, 보이는 막대기의 개수를 출력한다.


# [입력]
# 6
# 6
# 9
# 7
# 6
# 4
# 6
# [출력]
# 3


# [입력]
# 5
# 5
# 4
# 3
# 2
# 1
# [출력]
# 5

### while 문

In [ ]:
# 1부터 차례로 누적하여 합을 구하다가 합이 입력받은 수를 넘으면 중단하고 마지막으로 더해진 값과 그 때까지의 합을 출력하는 프로그램을 작성하시오.

# 입력)
# 1000

# 출력)
# 45 1035

In [ ]:
# [문제]
# 점수를 입력받아 80점 이상이면 합격메시지를 그렇지 않으면 불합격 메시지를 출력하는 작업을 반복하다가
# 0~100점 이외의 점수가 입력되면 종료하는 프로그램을 작성하시오.

# [예제]
# 점수를 입력하세요. 50
# 죄송합니다. 불합격입니다.
# 점수를 입력하세요. 95
# 축하합니다. 합격입니다.
# 점수를 입력하세요. 101

In [ ]:
# [문제]
# 한 개의 정수를 입력받아 양수(positive integer)인지 음수(negative number)인지 출력하는 작업을 반복하다가
# 0이 입력되면 종료하는 프로그램을 작성하시오.

# [예제]
# number? 10
# positive integer
# number? -10
# negative number
# number? 0

In [ ]:
# [문제]
# 정수를 입력받아서 3의 배수가 아닌 경우에는 아무 작업도 하지 않고
# 3의 배수인 경우에는 3으로 나눈몫을 출력하는 작업을 반복하다가
# -1이 입력되면 종료하는 프로그램을 작성하시오.


# 아래 출력 예시에서 (입력) (출력)은 실제 입출력하는 부분이 아니고,  입력인지 출력인지를 구분하기 위한 표시이다.

# [예제]
# (입력)5
# (입력)12
# (출력)4
# (입력)21
# (출력)7
# (입력)100
# (입력)-1

In [ ]:
# [문제]
# 아래 예와 같이 메시지를 출력하고 숫자를 입력받아 선택한 번호에 해당하는 메시지를 출력하는 작업을 반복하다가
# 4가 입력되면 메시지 출력 후 종료하는 프로그램을 작성하시오.
# (1~4 이외의 수가 입력되면 "잘못 입력하였습니다." 라고 출력한다.)
# 1번을 통해 입력한 데이터는 리스트에 저장하고 2번 '출력하기'를 선택하면 리스트에 저장된 값들을 출력한다.

# [예제]
# 1. 입력하기
# 2. 출력하기
# 3. 삭제하기
# 4. 끝내기
# 작업할 번호를 선택하세요. 2

# 출력하기를 선택하였습니다.
# []

# 1. 입력하기
# 2. 출력하기
# 3. 삭제하기
# 4. 끝내기
# 작업할 번호를 선택하세요. 5

# 잘못 입력하였습니다.

# 1. 입력하기
# 2. 출력하기
# 3. 삭제하기
# 4. 끝내기
# 작업할 번호를 선택하세요. 1

# 입력하기를 선택하였습니다.
# 15

# 1. 입력하기
# 2. 출력하기
# 3. 삭제하기
# 4. 끝내기
# 작업할 번호를 선택하세요. 2

# 출력하기를 선택하였습니다.
# [15]

# 1. 입력하기
# 2. 출력하기
# 3. 삭제하기
# 4. 끝내기
# 작업할 번호를 선택하세요. 4

# 끝내기를 선택하였습니다.

In [ ]:
# 숫자 맞추기 게임

import random

randNum = random.randint(1, 100)
# print(randNum)

# 1부터 100까지의 숫자를 맞추시오
# 숫자를 입력하시오:

# 숫자를 입력하시오: 50
# 다운
# 숫자를 입력하시오: 25
# 다운
# 숫자를 입력하시오: 13
# 다운
# 숫자를 입력하시오: 5
# 다운
# 숫자를 입력하시오: 3
# 업
# 숫자를 입력하시오: 4
# 정답! 시도횟수: 6

76

### 리스트

In [ ]:
# 아래 성적의 평균을 구하시오
score = [100, 90, 80, 70]

In [ ]:
# 숫자 n을 입력받아서, 1부터 n까지 정수 중에
# 홀수는 odd 리스트에 추가하고
# 짝수는 even 리스트에 추가해서
# 각각을 출력하는 프로그램을 작성하시오

# 입력 > 10
# 출력 >
# [1, 3, 5, 7, 9]
# [2, 4, 6, 8, 10]

In [ ]:
# 10개의 정수를 입력받아 3의 배수의 개수와 5의 배수의 개수를 각각 출력하는 프로그램을 작성하시오.

# 입력)
# 10 15 36 99 100 19 46 88 87 13

# 출력)
# Multiples of 3 : 4
# Multiples of 5 : 3

In [ ]:
# 10개의 정수를 입력받아 입력받은 수들 중 짝수의 개수와 홀수의 개수를 각각 구하여 출력하는 프로그램을 작성하시오.

# 입력)
# 10 20 30 55 66 77 88 99 100 15

# 출력)
# even : 6
# odd : 4

In [ ]:
# 사용자에게 과목의 개수를 입력받고, 그 과목 수만큼 점수를 입력받아 리스트에 저장
# 평균을 구하는 프로그램을 작성하시오
# + 마지막에 점수가 저장된 리스트를 출력하시오

# [입력예시]
# 과목 수: 3
# 점수: 100
# 점수: 90
# 점수: 80

# [출력예시]
# 90.0
# [100, 90, 80]

In [ ]:
# [문제]
# 학생들의 점수를 입력받아서 입력받은 점수를 10점 단위로 구분하여 점수대 별 학생 수를 출력하는 프로그램을 작성하시오.
# (한 명도 없는 점수는 출력하지 않는다.)

# [예제 입력]
# 63 80 95 100 76 64 88

# [예제 출력]
# 100 : 1 person
# 90 : 1 person
# 80 : 2 person
# 70 : 1 person
# 60 : 2 person

In [ ]:
# [문제]
# 10 미만의 자연수 두 개를 입력받아서 첫 번째 항과 두 번째 항을 입력받은 수로 초기화시킨 후
# 세 번째 항부터는 전전항과 전항의 합을 구하여 그 합의 1의 자리로 채워서 차례로 10개를 출력하는 프로그램을 작성하시오.

# [예제 입력]
# 3 5

# [예제 출력]
# 3 5 8 3 1 4 5 9 4 3

In [ ]:
# [문제]
# 도현이는 바구니를 총 N개 가지고 있고, 각각의 바구니에는 1번부터 N번까지 번호가 매겨져 있다.
# 또, 1번부터 N번까지 번호가 적혀있는 공을 매우 많이 가지고 있다.
# 가장 처음 바구니에는 공이 들어있지 않으며, 바구니에는 공을 1개만 넣을 수 있다.
# 도현이는 앞으로 M번 공을 넣으려고 한다. 도현이는 한 번 공을 넣을 때, 공을 넣을 바구니 범위를 정하고,
# 정한 바구니에 모두 같은 번호가 적혀있는 공을 넣는다.
# 만약, 바구니에 공이 이미 있는 경우에는 들어있는 공을 빼고, 새로 공을 넣는다. 공을 넣을 바구니는 연속되어 있어야 한다.
# 공을 어떻게 넣을지가 주어졌을 때, M번 공을 넣은 이후에 각 바구니에 어떤 공이 들어 있는지 구하는 프로그램을 작성하시오.

# [입력]
# 첫째 줄에 N (1 ≤ N ≤ 100)과 M (1 ≤ M ≤ 100)이 주어진다.
# 둘째 줄부터 M개의 줄에 걸쳐서 공을 넣는 방법이 주어진다.
# 각 방법은 세 정수 i j k로 이루어져 있으며, i번 바구니부터 j번 바구니까지에 k번 번호가 적혀져 있는 공을 넣는다는 뜻이다.
# 예를 들어, 2 5 6은 2번 바구니부터 5번 바구니까지에 6번 공을 넣는다는 뜻이다. (1 ≤ i ≤ j ≤ N, 1 ≤ k ≤ N)
# 도현이는 입력으로 주어진 순서대로 공을 넣는다.

# [출력]
# 1번 바구니부터 N번 바구니에 들어있는 공의 번호를 공백으로 구분해 출력한다. 공이 들어있지 않은 바구니는 0을 출력한다.


# [예제 입력 1]
# 5 4
# 1 2 3
# 3 4 4
# 1 4 1
# 2 2 2
# [예제 출력 1]
# 1 2 1 1 0

In [ ]:
# [문제]
# 도현이는 바구니를 총 N개 가지고 있고, 각각의 바구니에는 1번부터 N번까지 번호가 매겨져 있다.
# 바구니에는 공이 1개씩 들어있고, 처음에는 바구니에 적혀있는 번호와 같은 번호가 적힌 공이 들어있다.
# 도현이는 앞으로 M번 공을 바꾸려고 한다. 도현이는 공을 바꿀 바구니 2개를 선택하고, 두 바구니에 들어있는 공을 서로 교환한다.
# 공을 어떻게 바꿀지가 주어졌을 때, M번 공을 바꾼 이후에 각 바구니에 어떤 공이 들어있는지 구하는 프로그램을 작성하시오.

# [입력]
# 첫째 줄에 N (1 <= N <= 100)과 M (1 <= M <= 100)이 주어진다.

# 둘째 줄부터 M개의 줄에 걸쳐서 공을 교환할 방법이 주어진다. 각 방법은 두 정수 i j로 이루어져 있으며,
# i번 바구니와 j번 바구니에 들어있는 공을 교환한다는 뜻이다. (1 ≤ i ≤ j ≤ N)

# 도현이는 입력으로 주어진 순서대로 공을 교환한다.

# [출력]
# 1번 바구니부터 N번 바구니에 들어있는 공의 번호를 공백으로 구분해 출력한다.


# [예제 입력 1]
# 5 4
# 1 2
# 3 4
# 1 4
# 2 2
# [예제 출력 1]
# 3 1 4 2 5

### Data Structure

In [ ]:
# 영한 사전 만들기
# (자료 3개 넣고 검사받기)

english_dic = {}
# 키:값 추가


print(english_dic)

{}

In [ ]:
#  dictionary에 있는 모든 과목 성적의 평균과,
# 최고 성적 과목&점수, 최저성적과목&점수 를 출력하는 프로그램

# [출력예시]
# 평균은 80 입니다.
# 최고성적은 과학 100 입니다.
# 최저성적은 체육 50 입니다.

In [ ]:
# [문제]
# 주차장에 세워진 자동차의 차종을 모두 입력 받아, 중복되어 입력된 이름을 제거한 후, 알파벳 순서대로 출력하고,
# 그 개수를 출력하는 프로그램을 작성하시오.

# [예제 입력]
# Grandeur Avante Sonata Sonata Avante Genesis Sonata

# [예제 출력]
# Avante Genesis Grandeur Sonata
# 4

In [ ]:
# [문제]
# 반장 선거의 개표 결과가 한 줄에 입력될 때, 반장(제일 표를 많이 받은 학생)을 출력하는 프로그램을 작성하라.
# (만약 동일한 수의 표를 받은 학생이 여러 명일 경우, 가장 먼저 입력된 학생을 우선으로 한다.)

# [예제 입력]
# 철기 재연 태현 태현 철기 재연 창호 창호 창호 철기 태현 창호 태현 창호

# [예제 출력]
# 반장은 창호입니다.
# 창호가 받은 표는 5표입니다.

In [ ]:
# [문제]
# 매 년 피아노 콩쿠르 최우수상을 받은 학생들의 이름과 정수 하나를 입력 받아, 입력받은 정수 만큼
# 최우수상을 받은 학생들을 모두 출력하는 프로그램을 작성하시오. (먼저 입력된 이름을 우선하여 출력 한다.)

# [예제 입력]
# Cindy Katherine Mark Mark Cindy Jack Cindy Maria Katherine
# 2

# [예제 출력]
# Katherine
# Mark

### 함수

In [ ]:
# 사용자 정의 함수를 만들어 선을 그리는 프로그램을 작성하시오.
# '=' : 30개

# 출력)
# ==============================
# line 함수를 호출하였습니다.
# line 함수를 다시 호출합니다.
# ==============================

In [ ]:
# 정수를 입력 받아 10큰 수와 10작은 수를 출력하는 프로그램을 작성하시오

# 입력)
# 50

# 출력)
# 10큰수 : 60
# 10작은수 : 40

In [ ]:
# 두 정수를 입력받아 합과 곱을 출력하는 프로그램을 구조화하여 작성하시오.

# 입력)
# 두 수를 입력하세요. 35 26

# 출력)
# 합 : 61
# 곱 : 910

In [ ]:
# 10 이하의 두 개의 양의 정수를 입력받아서 작은 수부터 큰 수까지의 구구단을 차례대로 출력하는 프로그램을 작성하시오.


# 입력)
# 3 5

# 출력)
# == 3 dan ==
# 3 * 1 =  3
# 3 * 2 =  6
# 3 * 3 =  9
# 3 * 4 = 12
# 3 * 5 = 15
# 3 * 6 = 18
# 3 * 7 = 21
# 3 * 8 = 24
# 3 * 9 = 27

# == 4 dan ==
# 4 * 1 =  4
# 4 * 2 =  8
# 4 * 3 = 12
#  …
# 5 * 8 = 40
# 5 * 9 = 45

In [ ]:
# 정수를 전달받아 출력 예와 같이 '*'로 이루어진 피라미드 모양 삼각형을 출력하는 함수를 작성하고
# 입력받은 정수를 전달하여 출력하는 프로그램을 작성하시오.

# 입력)
# 5

# 출력)
#     *
#    ***
#   *****
#  *******
# *********

In [ ]:
# 100 미만의 정수만 입력된다. 정수 n을 입력받아 n x n 크기의 숫자사각형을 출력하는 프로그램을 작성하시오.
# 이때 정수 n을 전달받아 숫자 정사각형을 출력하는 함수를 작성하고, 입력받은 정수 n을 함수로 전달하여 출력한다.

# 입력)
# 4

# 출력)
# 1 2 3 4
# 5 6 7 8
# 9 10 11 12
# 13 14 15 16

In [ ]:
# 세 개의 정수를 전달받아 최대값을 구하여 리턴하는 함수를 작성하고,
# 세 정수를 입력받아 최대값을 출력하는 프로그램을 작성하시오.

# 입력)
# -10 115 33

# 출력)
# 115

In [ ]:
# 10 이하의 두 정수가 주어진다.
# 이를 입력 받아서 첫 번째 수를 두 번째 수만큼 거듭제곱하여 나온 값을 리턴하는 함수를 작성하여
# 다음과 같이 출력하는 프로그램을 작성하시오.

# 입력)
# 2 10

# 출력)
# 1024

In [ ]:
# 정수의 연산식을 입력받아 연산을 위한 함수를 호출하여
# 4칙연산(+ - * /)의 연산결과를 출력하는 프로그램을 작성하시오. (출력은 main 부분에서)
# ('/'의 경우는 정수 부분만 출력하고 4칙연산 이외의 연산 결과는 0으로 한다.)

# 입력)
# 10 + 20

# 출력)
# 10 + 20 = 30

In [ ]:
# 3과목의 점수를 입력 받아서 평균이 60 미만이거나 1과목이라도 40점 미만이 있으면 "죄송합니다. 불합격입니다.",
# 아니면 "축하합니다. 합격입니다."이라는 메시지를 아래와 같이 출력하는 프로그램을 작성하시오.

# 입력조건)
# 첫 줄에 세 과목의 점수가 공백을 기준으로 나뉘어 주어진다.

# 출력조건)
# 입력을 받기 전 "3과목의 점수를 입력하세요. "를 출력한다.
# 입력을 받은 후 정답을 출력한다.

# 입력)
# 3과목의 점수를 입력하세요. 95 77 80

# 출력)
# 축하합니다. 합격입니다.

### 재귀함수

In [ ]:
# 자연수 N을 입력받아 1부터 N까지 출력을 하되 n-1번째 값은 n번째 값을 2로 나눈 몫이 되도록 하는 프로그램을 작성하시오.

# 입력)
# 100

# 출력)
# 1 3 6 12 25 50 100